.navbar-menu a.navbar-item:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(95, 95, 95, 0.575) !important;
    transition: 0.3s;
}

header {
    background-image: url("../includes/imgs/header-wallpaper1.jpg");
    background-attachment: fixed;
}

nav {
    background-image: url("../includes/imgs/header-wallpaper1.jpg");
    background-attachment: fixed;
}

.text {
    size: 100px
}

.profile {
    border-radius: 50%;
}

.customized-hr {
    border: 0; 
    height: 0; 
    border-top: 1px solid rgba(0, 0, 0, 0.1); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}