html {
    scroll-behavior: smooth;
}


.navbar-menu a.navbar-item:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(95, 95, 95, 0.575) !important;
    transition: 0.3s;
}

header {
    background-image: url("../includes/imgs/header-wallpaper1.jpg");
    background-attachment: fixed;
}

nav {
    background-image: url("../includes/imgs/header-wallpaper1.jpg");
    background-attachment: fixed;
}

.text {
    size: 100px
}

.profile {
    border-radius: 50%;
}

.p-5 {
    padding: 5%;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.ph-2 {
    padding: 0 2%;
}

.text-center {
    text-align: center;
}

.customized-hr {
    border: 0; 
    height: 0; 
    border-top: 1px solid rgba(0, 0, 0, 0.1); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 35px 0px;
}

.secao {
    margin: 5% 0px;
}

.bd-focus {
    margin: 4rem auto 4rem;
    max-width: 1080px;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 5rem;
}

.is-horizontal-centered {
    justify-content: center;
}

.is-right-centered {
    justify-content: end;
}

.is-vertical-centered {
    align-items: center;
}