.tooltip-container {
    transition: all 0.2s;
    width: fit-content;
}

.tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(0%) scale(0);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
    border-radius: 0.5rem;
    z-index: 99999;
}
  
.tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    border-bottom-right-radius: 0.175rem;
}
  
.tooltip-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) translateY(-100%) scale(1);
}