@charset "UTF-8";


/* ==== Conteudo ==== */

.content:before {
    content: "";
    position: fixed;
    background-image: url("../imgs/background.jpg");
    background-position: 50% 50%;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-filter: contrast(80%);
    -moz-filter: contrast(80%);
    -o-filter: contrast(80%);
    -ms-filter: contrast(80%);
    filter: contrast(80%); 
}
  
  
html, body, .content, .container, .row, .col, { height: 100%; }
  

/* ====== Card Central ====== */

.valign-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
.card {
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
}

.card-content { height: 80%; overflow: scroll; }

.divider {
    margin-top: 5%;
    border: rgb(121, 200, 157) 1px solid;
}

.dados-participante { margin-bottom: 30px }

#title {
    font-size: 2.5rem !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 25px;
}


#btn-prox { margin-top: 30px; margin-bottom: 10px }

#add_button {
    margin-top: 30px;
    margin-bottom: 30px
}


fieldset {
    width: 10%;
    border-top: 0.2px ridge rgb(54, 54, 54);
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: inline-block;
    margin-bottom: 20px
}
 
#progresso {
    padding: 5px 10px;
}


#conteudo { overflow:  inherit}  

/* ==== Parte responsiva ==== */

@media screen and (max-width: 600px) {
    
    .valign-wrapper {
        height: 90%;
        margin-top: 5%;
        margin-bottom: 5%; 
    }

    .card-panel { overflow: auto; }

}