@charset "UTF-8";

/* Importing fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Coda');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');

/* Estilização do Menu */

#menu {
    background: transparent;
    z-index: 9999;
    text-align: center;
}

#menu ul {
    margin-top: -6%;
    margin-bottom: 6%;
    list-style: none;
    text-align: right;
    font-family: 'Coda', cursive;
    font-size: 100%;
    background: transparent;
    padding: -10px
}

/* Formatação dos itens do menu */

#menu li {
    display: inline-block;
    background: transparent;
    color: white;
    margin-right: 2cm;
    font-size: 150%
}

#Nome { 
    float: left; 
    display: inline-block;  
    font-family: 'Bad Script', cursive; 
    padding: -10px; 
    font-size: 130%;
    margin-top: -10px;
}

#menu a {
    text-decoration: none;
    color: white;
    transition: color 0.2s
}

#menu a:hover { color: rgb(66, 66, 66) } 

#menu a:active { color: rgb(65, 65, 65) }

/******** Menu lateral ********/

#menu-lateral {
    position: fixed;
    top: 50%;
    right: 0;
}

#menu-lateral a{
    text-decoration: none;
    color: black
}
