@charset "UTF-8";

/* Importing fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Coda');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');



body {
    margin-left: 30px;
    margin-right: 30px;
}

body h3 { text-transform: uppercase; font-size: 150% }

header {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -10px;
    padding-top: 50px;
    padding-bottom: 40px
}

header h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Coda', cursive;
    font-size: 60px;
}


header p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    margin-top: -50px
}

/************ Área "ABOUT" ***************/

#about {
    background-color: rgb(214, 214, 214);
    margin: -15px -30px;
    padding: 5% 15%;
    align-items: center
}

#imagem-perfil {
    position: relative;
    float: left;
}

#imagem-perfil img { border-radius: 50%; margin-right: 1cm; z-index: 1 }

#descricao {
    margin-top: 10px; 
    font-size: 20px;
    font-family: 'Coda', cursive
}

.sobre-mim-button {
    background-color: rgb(214, 214, 214);
    color: black;
    border: 2px solid black;
    transition-duration: 0.3s;
    font-size: 15px;
    padding: 20px;
    cursor: pointer
}

.sobre-mim-button:hover {
    border-color: #2651c7;
    color: rgb(43, 70, 160) 
}

#about a{
    text-decoration: none;
    color: rgb(88, 119, 177)
}

/************** Área dos projetos **************/

#projects {
    background-color: rgb(73, 138, 150);
    margin: -15px -30px;
    padding: 10% 20%;
}

#projects h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Coda', cursive;
    font-size: 200%;
    margin-top: -10%;
}


/********* Área do currículo ***********/

#curriculum {
    padding: 20px;
    margin: -10px -30px;
    text-align: center;
    background-color: rgb(214, 214, 214)
}

#curriculum h2 {
    text-align: center;
    font-size: 200%;
    font-family: 'Coda', cursive
}

#btn-curriculo {
    background-color: rgb(73, 138, 150);
    color: white;
    border: 2px solid rgb(73, 138, 150);
    transition-duration: 0.3s;
    font-size: 15px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    align-self: center
}


/* Efeito na hora do carregamento da página */

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}

@-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    -webkit-animation: fadeIn 0.5s ease-in-out;
    -moz-animation: fadeIn 0.5s ease-in-out;
    -o-animation: fadeIn 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}